In [73]:
import requests
from ast import literal_eval
import json
import pandas as pd
import xmltodict
from sqlalchemy import create_engine
import pymysql

In [4]:
## 웹 서버에 요청을 보낸다.
## get 방식을 이용한 요청을 보낸다.
url = "https://www.google.com"

response = requests.get(url)

In [16]:
## api 주소
url = "http://172.16.12.155:8080/corona"

## 해당하는 주소에서 필수적으로 보내야되는 요청 변수
_params = {
    'serviceKey' : 'aaa',
    '_limit' : 50
}
response = requests.get(
    url,
    params = _params
)

In [20]:
url2 = "http://172.16.12.155:8080/corona?serviceKey=aaa&_limit=50"

response2 = requests.get(url2)

In [22]:
print(response.content)
print(response2.text)

b'[\n  {\n    "MyUnknownColumn": 0,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-08 09:09:05.982",\n    "deathCnt": 24305,\n    "decideCnt": 18188200,\n    "seq": 904,\n    "stateDt": 20220608,\n    "stateTime": "00:00",\n    "updateDt": null\n  },\n  {\n    "MyUnknownColumn": 1,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-07 09:09:00.897",\n    "deathCnt": 24299,\n    "decideCnt": 18174842,\n    "seq": 903,\n    "stateDt": 20220607,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:10:36.846"\n  },\n  {\n    "MyUnknownColumn": 2,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-06 09:00:06.734",\n    "deathCnt": 24279,\n    "decideCnt": 18168670,\n    "seq": 902,\n    "stateDt": 20220606,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:10:50.441"\n  },\n  {\n    "MyUnknownColumn": 3,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-05 08:53:19.426",\n    "deathCnt": 24258,\n    "decideCnt": 18163648,\n    "seq": 901,\n    "stateDt": 20220605,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:04.758"\n  },\n  {\n    "MyUnknownColumn": 4,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-04 08:56:49.219",\n    "deathCnt": 24238,\n    "decideCnt": 18153814,\n    "seq": 900,\n    "stateDt": 20220604,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:26.303"\n  },\n  {\n    "MyUnknownColumn": 5,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-03 09:08:18.729",\n    "deathCnt": 24229,\n    "decideCnt": 18141775,\n    "seq": 899,\n    "stateDt": 20220603,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:38.938"\n  },\n  {\n    "MyUnknownColumn": 6,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-02 08:58:19.746",\n    "deathCnt": 24212,\n    "decideCnt": 18129236,\n    "seq": 898,\n    "stateDt": 20220602,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:51.985"\n  },\n  {\n    "MyUnknownColumn": 7,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-01 09:07:30.461",\n    "deathCnt": 24197,\n    "decideCnt": 18119345,\n    "seq": 897,\n    "stateDt": 20220601,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:12:05.316"\n  },\n  {\n    "MyUnknownColumn": 8,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-31 08:55:39.977",\n    "deathCnt": 24176,\n    "decideCnt": 18103577,\n    "seq": 896,\n    "stateDt": 20220531,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:23.637"\n  },\n  {\n    "MyUnknownColumn": 9,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-30 09:01:30.847",\n    "deathCnt": 24167,\n    "decideCnt": 18086392,\n    "seq": 895,\n    "stateDt": 20220530,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:37.203"\n  },\n  {\n    "MyUnknownColumn": 10,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-29 09:05:28.382",\n    "deathCnt": 24158,\n    "decideCnt": 18080257,\n    "seq": 894,\n    "stateDt": 20220529,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:51.863"\n  },\n  {\n    "MyUnknownColumn": 11,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-28 09:09:18.909",\n    "deathCnt": 24139,\n    "decideCnt": 18067610,\n    "seq": 893,\n    "stateDt": 20220528,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 09:00:06.316"\n  },\n  {\n    "MyUnknownColumn": 12,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-27 09:03:34.444",\n    "deathCnt": 24103,\n    "decideCnt": 18053236,\n    "seq": 892,\n    "stateDt": 20220527,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-03 09:11:10.578"\n  },\n  {\n    "MyUnknownColumn": 13,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-26 09:13:37.732",\n    "deathCnt": 24063,\n    "decideCnt": 18036664,\n    "seq": 891,\n    "stateDt": 20220526,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-01 09:08:19.164"\n  },\n  {\n    "MyUnknownColumn": 14,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-25 09:02:44.294",\n    "deathCnt": 24029,\n    "decideCnt": 18017859,\n    "seq": 890,\n    "stateDt": 20220525,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-01 09:08:25.254"\n  },\n  {\n    "MyUnknownColumn": 15,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-24 08:49:38.261",\n    "deathCnt": 24006,\n    "decideCnt": 17993923,\n    "seq": 889,\n    "stateDt": 20220524,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-31 08:58:44.451"\n  },\n  {\n    "MyUnknownColumn": 16,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-23 08:56:56.412",\n    "deathCnt": 23987,\n    "decideCnt": 17967592,\n    "seq": 888,\n    "stateDt": 20220523,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:13.674"\n  },\n  {\n    "MyUnknownColumn": 17,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-22 07:52:40.527",\n    "deathCnt": 23965,\n    "decideCnt": 17957621,\n    "seq": 887,\n    "stateDt": 20220522,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:20.33"\n  },\n  {\n    "MyUnknownColumn": 18,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-21 08:39:51.786",\n    "deathCnt": 23911,\n    "decideCnt": 17938332,\n    "seq": 886,\n    "stateDt": 20220521,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:27.211"\n  },\n  {\n    "MyUnknownColumn": 19,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-20 09:02:54.987",\n    "deathCnt": 23885,\n    "decideCnt": 17914882,\n    "seq": 885,\n    "stateDt": 20220520,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-27 09:04:41.621"\n  },\n  {\n    "MyUnknownColumn": 20,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-19 09:07:11.841",\n    "deathCnt": 23842,\n    "decideCnt": 17889769,\n    "seq": 884,\n    "stateDt": 20220519,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-26 09:16:54.036"\n  },\n  {\n    "MyUnknownColumn": 21,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-18 08:58:30.377",\n    "deathCnt": 23802,\n    "decideCnt": 17861660,\n    "seq": 883,\n    "stateDt": 20220518,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-25 09:05:49.683"\n  },\n  {\n    "MyUnknownColumn": 22,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-17 09:04:52.287",\n    "deathCnt": 23771,\n    "decideCnt": 17830327,\n    "seq": 882,\n    "stateDt": 20220517,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-24 09:18:48.656"\n  },\n  {\n    "MyUnknownColumn": 23,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-16 09:04:43.174",\n    "deathCnt": 23744,\n    "decideCnt": 17795242,\n    "seq": 881,\n    "stateDt": 20220516,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:47:40.875"\n  },\n  {\n    "MyUnknownColumn": 24,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-15 09:27:15.538",\n    "deathCnt": 23709,\n    "decideCnt": 17781952,\n    "seq": 880,\n    "stateDt": 20220515,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:47:54.484"\n  },\n  {\n    "MyUnknownColumn": 25,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-14 09:46:39.377",\n    "deathCnt": 23661,\n    "decideCnt": 17756527,\n    "seq": 879,\n    "stateDt": 20220514,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:48:13.125"\n  },\n  {\n    "MyUnknownColumn": 26,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-13 09:09:51.89",\n    "deathCnt": 23606,\n    "decideCnt": 17726955,\n    "seq": 878,\n    "stateDt": 20220513,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-20 09:06:42.817"\n  },\n  {\n    "MyUnknownColumn": 27,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-12 09:05:26.458",\n    "deathCnt": 23554,\n    "decideCnt": 17694520,\n    "seq": 877,\n    "stateDt": 20220512,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-19 17:37:18.336"\n  },\n  {\n    "MyUnknownColumn": 28,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-11 09:01:52.873",\n    "deathCnt": 23491,\n    "decideCnt": 17658638,\n    "seq": 876,\n    "stateDt": 20220511,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-19 17:38:10.681"\n  },\n  {\n    "MyUnknownColumn": 29,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-10 09:02:38.129",\n    "deathCnt": 23462,\n    "decideCnt": 17614757,\n    "seq": 875,\n    "stateDt": 20220510,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-17 09:06:40.689"\n  },\n  {\n    "MyUnknownColumn": 30,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-09 09:06:19.774",\n    "deathCnt": 23400,\n    "decideCnt": 17564861,\n    "seq": 874,\n    "stateDt": 20220509,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:34:58.518"\n  },\n  {\n    "MyUnknownColumn": 31,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-08 09:02:00.163",\n    "deathCnt": 23360,\n    "decideCnt": 17544273,\n    "seq": 873,\n    "stateDt": 20220508,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:35:16.208"\n  },\n  {\n    "MyUnknownColumn": 32,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-07 09:18:40.439",\n    "deathCnt": 23289,\n    "decideCnt": 17504225,\n    "seq": 872,\n    "stateDt": 20220507,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:35:34.039"\n  },\n  {\n    "MyUnknownColumn": 33,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-06 08:06:00.523",\n    "deathCnt": 23206,\n    "decideCnt": 17464662,\n    "seq": 871,\n    "stateDt": 20220506,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-13 09:11:27.572"\n  },\n  {\n    "MyUnknownColumn": 34,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-05 09:23:43.381",\n    "deathCnt": 23158,\n    "decideCnt": 17437984,\n    "seq": 870,\n    "stateDt": 20220505,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-12 09:06:57.564"\n  },\n  {\n    "MyUnknownColumn": 35,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-04 09:11:34.915",\n    "deathCnt": 23079,\n    "decideCnt": 17395705,\n    "seq": 869,\n    "stateDt": 20220504,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-11 09:03:27.014"\n  },\n  {\n    "MyUnknownColumn": 36,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-03 09:08:23.319",\n    "deathCnt": 23007,\n    "decideCnt": 17346659,\n    "seq": 868,\n    "stateDt": 20220503,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-10 10:09:55.309"\n  },\n  {\n    "MyUnknownColumn": 37,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-02 09:01:12.093",\n    "deathCnt": 22958,\n    "decideCnt": 17295553,\n    "seq": 867,\n    "stateDt": 20220502,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:20:27.275"\n  },\n  {\n    "MyUnknownColumn": 38,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-01 09:15:03.496",\n    "deathCnt": 22875,\n    "decideCnt": 17275477,\n    "seq": 866,\n    "stateDt": 20220501,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:20:49.891"\n  },\n  {\n    "MyUnknownColumn": 39,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-30 09:17:39.409",\n    "deathCnt": 22794,\n    "decideCnt": 17237717,\n    "seq": 865,\n    "stateDt": 20220430,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:21:13.949"\n  },\n  {\n    "MyUnknownColumn": 40,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-29 09:03:59.658",\n    "deathCnt": 22724,\n    "decideCnt": 17194473,\n    "seq": 864,\n    "stateDt": 20220429,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-05 09:26:15.183"\n  },\n  {\n    "MyUnknownColumn": 41,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-28 09:02:00.054",\n    "deathCnt": 22588,\n    "decideCnt": 17143917,\n    "seq": 863,\n    "stateDt": 20220428,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-05 09:26:29.55"\n  },\n  {\n    "MyUnknownColumn": 42,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-27 09:01:55.815",\n    "deathCnt": 22466,\n    "decideCnt": 17086471,\n    "seq": 862,\n    "stateDt": 20220427,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-04 09:13:13.366"\n  },\n  {\n    "MyUnknownColumn": 43,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-26 09:02:16.27",\n    "deathCnt": 22325,\n    "decideCnt": 17009707,\n    "seq": 861,\n    "stateDt": 20220426,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-03 09:11:15.127"\n  },\n  {\n    "MyUnknownColumn": 44,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-25 09:02:21.688",\n    "deathCnt": 22243,\n    "decideCnt": 16929440,\n    "seq": 860,\n    "stateDt": 20220425,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:23:49.525"\n  },\n  {\n    "MyUnknownColumn": 45,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-24 08:36:32.893",\n    "deathCnt": 22133,\n    "decideCnt": 16895079,\n    "seq": 859,\n    "stateDt": 20220424,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:25:01.983"\n  },\n  {\n    "MyUnknownColumn": 46,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-23 08:54:03.35",\n    "deathCnt": 22024,\n    "decideCnt": 16830375,\n    "seq": 858,\n    "stateDt": 20220423,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:24:15.874"\n  },\n  {\n    "MyUnknownColumn": 47,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-22 09:08:41.733",\n    "deathCnt": 21873,\n    "decideCnt": 16754952,\n    "seq": 857,\n    "stateDt": 20220422,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-29 09:05:42.917"\n  },\n  {\n    "MyUnknownColumn": 48,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-21 09:05:31.131",\n    "deathCnt": 21667,\n    "decideCnt": 16673919,\n    "seq": 856,\n    "stateDt": 20220421,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-28 09:04:37.11"\n  },\n  {\n    "MyUnknownColumn": 49,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-20 09:05:36.813",\n    "deathCnt": 21520,\n    "decideCnt": 16583076,\n    "seq": 855,\n    "stateDt": 20220420,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-27 09:03:39.849"\n  }\n]\n'
[
  {
    "MyUnknownColumn": 0,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-08 09:09:05.982",
    "deathCnt": 24305,
    "decideCnt": 18188200,
    "seq": 904,
    "stateDt": 20220608,
    "stateTime": "00:00",
    "updateDt": null
  },
  {
    "MyUnknownColumn": 1,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-07 09:09:00.897",
    "deathCnt": 24299,
    "decideCnt": 18174842,
    "seq": 903,
    "stateDt": 20220607,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:10:36.846"
  },
  {
    "MyUnknownColumn": 2,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-06 09:00:06.734",
    "deathCnt": 24279,
    "decideCnt": 18168670,
    "seq": 902,
    "stateDt": 20220606,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:10:50.441"
  },
  {
    "MyUnknownColumn": 3,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-05 08:53:19.426",
    "deathCnt": 24258,
    "decideCnt": 18163648,
    "seq": 901,
    "stateDt": 20220605,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:11:04.758"
  },
  {
    "MyUnknownColumn": 4,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-04 08:56:49.219",
    "deathCnt": 24238,
    "decideCnt": 18153814,
    "seq": 900,
    "stateDt": 20220604,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:11:26.303"
  },
  {
    "MyUnknownColumn": 5,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-03 09:08:18.729",
    "deathCnt": 24229,
    "decideCnt": 18141775,
    "seq": 899,
    "stateDt": 20220603,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:11:38.938"
  },
  {
    "MyUnknownColumn": 6,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-02 08:58:19.746",
    "deathCnt": 24212,
    "decideCnt": 18129236,
    "seq": 898,
    "stateDt": 20220602,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:11:51.985"
  },
  {
    "MyUnknownColumn": 7,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-06-01 09:07:30.461",
    "deathCnt": 24197,
    "decideCnt": 18119345,
    "seq": 897,
    "stateDt": 20220601,
    "stateTime": "00:00",
    "updateDt": "2022-06-08 09:12:05.316"
  },
  {
    "MyUnknownColumn": 8,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-31 08:55:39.977",
    "deathCnt": 24176,
    "decideCnt": 18103577,
    "seq": 896,
    "stateDt": 20220531,
    "stateTime": "00:00",
    "updateDt": "2022-06-04 08:59:23.637"
  },
  {
    "MyUnknownColumn": 9,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-30 09:01:30.847",
    "deathCnt": 24167,
    "decideCnt": 18086392,
    "seq": 895,
    "stateDt": 20220530,
    "stateTime": "00:00",
    "updateDt": "2022-06-04 08:59:37.203"
  },
  {
    "MyUnknownColumn": 10,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-29 09:05:28.382",
    "deathCnt": 24158,
    "decideCnt": 18080257,
    "seq": 894,
    "stateDt": 20220529,
    "stateTime": "00:00",
    "updateDt": "2022-06-04 08:59:51.863"
  },
  {
    "MyUnknownColumn": 11,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-28 09:09:18.909",
    "deathCnt": 24139,
    "decideCnt": 18067610,
    "seq": 893,
    "stateDt": 20220528,
    "stateTime": "00:00",
    "updateDt": "2022-06-04 09:00:06.316"
  },
  {
    "MyUnknownColumn": 12,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-27 09:03:34.444",
    "deathCnt": 24103,
    "decideCnt": 18053236,
    "seq": 892,
    "stateDt": 20220527,
    "stateTime": "00:00",
    "updateDt": "2022-06-03 09:11:10.578"
  },
  {
    "MyUnknownColumn": 13,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-26 09:13:37.732",
    "deathCnt": 24063,
    "decideCnt": 18036664,
    "seq": 891,
    "stateDt": 20220526,
    "stateTime": "00:00",
    "updateDt": "2022-06-01 09:08:19.164"
  },
  {
    "MyUnknownColumn": 14,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-25 09:02:44.294",
    "deathCnt": 24029,
    "decideCnt": 18017859,
    "seq": 890,
    "stateDt": 20220525,
    "stateTime": "00:00",
    "updateDt": "2022-06-01 09:08:25.254"
  },
  {
    "MyUnknownColumn": 15,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-24 08:49:38.261",
    "deathCnt": 24006,
    "decideCnt": 17993923,
    "seq": 889,
    "stateDt": 20220524,
    "stateTime": "00:00",
    "updateDt": "2022-05-31 08:58:44.451"
  },
  {
    "MyUnknownColumn": 16,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-23 08:56:56.412",
    "deathCnt": 23987,
    "decideCnt": 17967592,
    "seq": 888,
    "stateDt": 20220523,
    "stateTime": "00:00",
    "updateDt": "2022-05-28 09:10:13.674"
  },
  {
    "MyUnknownColumn": 17,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-22 07:52:40.527",
    "deathCnt": 23965,
    "decideCnt": 17957621,
    "seq": 887,
    "stateDt": 20220522,
    "stateTime": "00:00",
    "updateDt": "2022-05-28 09:10:20.33"
  },
  {
    "MyUnknownColumn": 18,
    "accDefRate": "",
    "accExamCnt": "",
    "createDt": "2022-05-21 08:39:51.786",
    "deathCnt": 23911,
    "decideCnt": 17938332,
    "seq": 886,
    "stateDt": 20220521,
    "stateTime": "00:00",
    "updateDt": "2022-05-28 09:10:27.211"
  },

In [27]:
data = json.loads(response.text)
pd.DataFrame(data)

,MyUnknownColumn,accDefRate,accExamCnt,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt
0,0,,,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,None
1,1,,,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846
2,2,,,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441
3,3,,,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758
4,4,,,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303
5,5,,,2022-06-03 09:08:18.729,24229,18141775,899,20220603,00:00,2022-06-08 09:11:38.938
6,6,,,2022-06-02 08:58:19.746,24212,18129236,898,20220602,00:00,2022-06-08 09:11:51.985
7,7,,,2022-06-01 09:07:30.461,24197,18119345,897,20220601,00:00,2022-06-08 09:12:05.316
8,8,,,2022-05-31 08:55:39.977,24176,18103577,896,20220531,00:00,2022-06-04 08:59:23.637
9,9,,,2022-05-30 09:01:30.847,24167,18086392,895,20220530,00:00,2022-06-04 08:59:37.203
10,10,,,2022-05-29 09:05:28.382,24158,18080257,894,20220529,00:00,2022-06-04 08:59:51.863
11,11,,,2022-05-28 09:09:18.909,24139,18067610,893,20220528,00:00,2022-06-04 09:00:06.316
12,12,,,2022-05-27 09:03:34.444,24103,18053236,892,20220527,00:00,2022-06-03 09:11:10.578
13,13,,,2022-05-26 09:13:37.732,24063,18036664,891,20220526,00:00,2022-06-01 09:08:19.164
14,14,,,2022-05-25 09:02:44.294,24029,18017859,890,20220525,00:00,2022-06-01 09:08:25.254
15,15,,,2022-05-24 08:49:38.261,24006,17993923,889,20220524,00:00,2022-05-31 08:58:44.451
16,16,,,2022-05-23 08:56:56.412,23987,17967592,888,20220523,00:00,2022-05-28 09:10:13.674
17,17,,,2022-05-22 07:52:40.527,23965,17957621,887,20220522,00:00,2022-05-28 09:10:20.33
18,18,,,2022-05-21 08:39:51.786,23911,17938332,886,20220521,00:00,2022-05-28 09:10:27.211
19,19,,,2022-05-20 09:02:54.987,23885,17914882,885,20220520,00:00,2022-05-27 09:04:41.621
20,20,,,2022-05-19 09:07:11.841,23842,17889769,884,20220519,00:00,2022-05-26 09:16:54.036
21,21,,,2022-05-18 08:58:30.377,23802,17861660,883,20220518,00:00,2022-05-25 09:05:49.683
22,22,,,2022-05-17 09:04:52.287,23771,17830327,882,20220517,00:00,2022-05-24 09:18:48.656
23,23,,,2022-05-16 09:04:43.174,23744,17795242,881,20220516,00:00,2022-05-21 08:47:40.875
24,24,,,2022-05-15 09:27:15.538,23709,17781952,880,20220515,00:00,2022-05-21 08:47:54.484
25,25,,,2022-05-14 09:46:39.377,23661,17756527,879,20220514,00:00,2022-05-21 08:48:13.125
26,26,,,2022-05-13 09:09:51.89,23606,17726955,878,20220513,00:00,2022-05-20 09:06:42.817
27,27,,,2022-05-12 09:05:26.458,23554,17694520,877,20220512,00:00,2022-05-19 17:37:18.336
28,28,,,2022-05-11 09:01:52.873,23491,17658638,876,20220511,00:00,2022-05-19 17:38:10.681
29,29,,,2022-05-10 09:02:38.129,23462,17614757,875,20220510,00:00,2022-05-17 09:06:40.689
30,30,,,2022-05-09 09:06:19.774,23400,17564861,874,20220509,00:00,2022-05-14 10:34:58.518
31,31,,,2022-05-08 09:02:00.163,23360,17544273,873,20220508,00:00,2022-05-14 10:35:16.208
32,32,,,2022-05-07 09:18:40.439,23289,17504225,872,20220507,00:00,2022-05-14 10:35:34.039
33,33,,,2022-05-06 08:06:00.523,23206,17464662,871,20220506,00:00,2022-05-13 09:11:27.572
34,34,,,2022-05-05 09:23:43.381,23158,17437984,870,20220505,00:00,2022-05-12 09:06:57.564
35,35,,,2022-05-04 09:11:34.915,23079,17395705,869,20220504,00:00,2022-05-11 09:03:27.014
36,36,,,2022-05-03 09:08:23.319,23007,17346659,868,20220503,00:00,2022-05-10 10:09:55.309
37,37,,,2022-05-02 09:01:12.093,22958,17295553,867,20220502,00:00,2022-05-07 09:20:27.275
38,38,,,2022-05-01 09:15:03.496,22875,17275477,866,20220501,00:00,2022-05-07 09:20:49.891
39,39,,,2022-04-30 09:17:39.409,22794,17237717,865,20220430,00:00,2022-05-07 09:21:13.949
40,40,,,2022-04-29 09:03:59.658,22724,17194473,864,20220429,00:00,2022-05-05 09:26:15.183
41,41,,,2022-04-28 09:02:00.054,22588,17143917,863,20220428,00:00,2022-05-05 09:26:29.55
42,42,,,2022-04-27 09:01:55.815,22466,17086471,862,20220427,00:00,2022-05-04 09:13:13.366
43,43,,,2022-04-26 09:02:16.27,22325,17009707,861,20220426,00:00,2022-05-03 09:11:15.127
44,44,,,2022-04-25 09:02:21.688,22243,16929440,860,20220425,00:00,2022-04-30 09:23:49.525
45,45,,,2022-04-24 08:36:32.893,22133,16895079,859,20220424,00:00,2022-04-30 09:25:01.983
46,46,,,2022-04-23 08:54:03.35,22024,16830375,858,20220423,00:00,2022-04-30 09:24:15.874
47,47,,,2022-04-22 09:08:41.733,21873,16754952,857,20220422,00:00,2022-04-29 09:05:42.917
48,48,,,2022-04-21 09:05:31.131,21667,16673919,856,20220421,00:00,2022-04-28 09:04:37.11
49,49,,,2022-04-20 09:05:36.813,21520,16583076,855,20220420,00:00,2022-04-27 09:03:39.849

In [55]:
url = "https://apis.data.go.kr/1741000/RegistrationPopulationByRegion/getRegistrationPopulationByRegion"
_params = {
    'ServiceKey' : 'dtbWOdJ/Cz5HE0DGLU+CRPe7pOW0NIQBUcGEqsHZaTRiYCI/5+zugwzQjcvuId7NPdg6rUiW+ft3fm7yqyD4pw==',
    'pageNo' : 1,
    'numOfRows' : 10
}

res = requests.get(url, params=_params)

print(res)

<Response [200]>

In [56]:
print(res.text)

<?xml version="1.0" encoding="UTF-8"?>

<RegistrationPopulationByRegion>
  <head>
    <totalCount>266</totalCount>
    <numOfRows>10</numOfRows>
    <pageNo>1</pageNo>
    <type>XML</type>
    <RESULT>
      <resultCode>INFO-0</resultCode>
      <resultMsg>NOMAL SERVICE</resultMsg>
    </RESULT>
  </head>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>1</seq>
    <regi>계</regi>
    <population_tot>49540367</population_tot>
    <population_man>24822897</population_man>
    <population_female>24717470</population_female>
    <houshol>19005339</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>2</seq>
    <regi>서울</regi>
    <population_tot>10200827</population_tot>
    <population_man>5061809</population_man>
    <population_female>5139018</population_female>
    <houshol>4097562</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>3</seq>
    <regi>부산</regi>
    <population_tot>3564577</population_tot>
    <population_man>1773154</population_man>
    <population_female>1791423</population_female>
    <houshol>1311724</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>4</seq>
    <regi>대구</regi>
    <population_tot>2492724</population_tot>
    <population_man>1246873</population_man>
    <population_female>1245851</population_female>
    <houshol>894969</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>5</seq>
    <regi>인천</regi>
    <population_tot>2692696</population_tot>
    <population_man>1356473</population_man>
    <population_female>1336223</population_female>
    <houshol>1014755</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>6</seq>
    <regi>광주</regi>
    <population_tot>1422702</population_tot>
    <population_man>705817</population_man>
    <population_female>716885</population_female>
    <houshol>513021</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>7</seq>
    <regi>대전</regi>
    <population_tot>1480895</population_tot>
    <population_man>741611</population_man>
    <population_female>739284</population_female>
    <houshol>531682</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>8</seq>
    <regi>울산</regi>
    <population_tot>1112407</population_tot>
    <population_man>572815</population_man>
    <population_female>539592</population_female>
    <houshol>389735</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>9</seq>
    <regi>경기</regi>
    <population_tot>11292264</population_tot>
    <population_man>5690673</population_man>
    <population_female>5601591</population_female>
    <houshol>4284475</houshol>
  </row>
  <row>
    <wrttimeid>2008</wrttimeid>
    <seq>10</seq>
    <regi>강원</regi>
    <population_tot>1508575</population_tot>
    <population_man>759282</population_man>
    <population_female>749293</population_female>
    <houshol>606950</houshol>
  </row>
</RegistrationPopulationByRegion>

In [57]:
data = xmltodict.parse(res.content)
df = pd.DataFrame(data['RegistrationPopulationByRegion']['row'])
df

  wrttimeid seq regi population_tot population_man population_female   houshol
0      2008   1    계       49540367       24822897          24717470  19005339
1      2008   2   서울       10200827        5061809           5139018   4097562
2      2008   3   부산        3564577        1773154           1791423   1311724
3      2008   4   대구        2492724        1246873           1245851    894969
4      2008   5   인천        2692696        1356473           1336223   1014755
5      2008   6   광주        1422702         705817            716885    513021
6      2008   7   대전        1480895         741611            739284    531682
7      2008   8   울산        1112407         572815            539592    389735
8      2008   9   경기       11292264        5690673           5601591   4284475
9      2008  10   강원        1508575         759282            749293    606950

In [58]:
df.drop('seq', axis = 1, inplace = True)

In [61]:
df.columns = ['년도', '지역',' 전체인구수', '남자 인구수', '여자 인구수','가구 인구수']

In [65]:
df.columns

Index(['년도', '지역', ' 전체인구수', '남자 인구수', '여자 인구수', '가구 인구수'], dtype='object')

In [67]:
df.head(10)

     년도  지역     전체인구수    남자 인구수    여자 인구수    가구 인구수
0  2008   계  49540367  24822897  24717470  19005339
1  2008  서울  10200827   5061809   5139018   4097562
2  2008  부산   3564577   1773154   1791423   1311724
3  2008  대구   2492724   1246873   1245851    894969
4  2008  인천   2692696   1356473   1336223   1014755
5  2008  광주   1422702    705817    716885    513021
6  2008  대전   1480895    741611    739284    531682
7  2008  울산   1112407    572815    539592    389735
8  2008  경기  11292264   5690673   5601591   4284475
9  2008  강원   1508575    759282    749293    606950

In [69]:
## 데이터프레임을 파일로 저장
## DataFrame형식의 데이터를 csv 파일로 저장
df.to_csv('pop.csv', index = False, encoding='CP949')

In [70]:
df.to_excel('pop.xlsx', index=False)

In [77]:
### 데이터프레임을 sql에 저장
db_connection_str = "mysql+pymysql://root:1234@127.0.0.1/ubion10"
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [78]:
df.to_sql(
    name = 'pop_table',
    con = db_connection,
    if_exists='replace',
    index=False
)

10