### 웹 크롤링
1. 사용할 라이브러리 목록
    - requests
    - bs4 (BeautifulSoup)
        - bs4 라이브러리 안에 있는 BeautifulSoup class
        - html 문서형 데이터를 pasing 하여 데이터를 쉽게 추출할 수 있도록 도와주는 라이브러리
        - html에서 TAG를 기준으로 데이터를 추출
        - 웹의 구조를 어느정도 인지하고 사용한다면 쉽게 사용 가능
        - Parser를 활용해서 파이썬에서 접근이 쉽게 객체 형태로 제공
    - selenium
        - 웹 어플리케이션을 테스트하기 위해 만들어진 라이브러리
        - 웹 브라우져를 python의 code를 이용하여 제어
        - 크롬이 구버전이거나 selenium이 구버전인 경우에는 별도의 소프트웨어를 설치

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [ ]:
url = "https://www.naver.com"
response = requests.get(url)

html_data = response.text
html_data[378:381]

In [ ]:
html_data.find('네이버')

In [ ]:
## pasing 작업 : 데이터의 형태를 변환 (새로운 class에 인자값을 댕비하여 새로운 객체를 생성)
soup = bs(html_data, 'html.parser')

- 태그의 이름을 기준으로 검색
    - soup.태그명 : HTML 문서에서 해당 태그명의 첫번째 정보를 출력
    - soup.태그명.string : 첫번째 태그 정보에서 문자열이 출력
    - soup.태그명.['속성명'] : 첫번째 태그 정보에서 속성의 값이 출력

In [ ]:
# 네이버에서 a태그(하이퍼링크) 중 첫번째 태그를 확인
soup.a

In [ ]:
soup.a.string

In [ ]:
soup.a['href']

- find({태그명})
    - HTML 문자열에서 해당 태그의 첫번째 정보를 출력
    - find(속성명 = 속성값) : 태그들 중에 해당 속성을 가지고 있는 태그의 첫번째 정보를 출력
- find_all({태그명})
    - HTML 문자열에서 해당 태그의 모든 태그 정보를 리스트의 형태로 출력
    - limit 매개변수 : 리스트의 개수를 지정

In [ ]:
frist_a = soup.find('a')

In [ ]:
type(frist_a)

In [ ]:
a_list = soup.find_all("a")

In [ ]:
type(a_list)

In [ ]:
print(frist_a)
print(a_list)

In [ ]:
frist_a.get_text()

In [ ]:
data_list = []
for i in a_list :
    data_list.append(i.get_text())
data_list

In [ ]:
## 네이버 파이낸스 페이지에서 데이터를 크롤링
url = "https://finance.naver.com/"
response = requests.get(url)

In [ ]:
response

In [ ]:
html_data = response.text

In [ ]:
# Beautifulsoup의 데이터 형으로 파싱
soup = bs(html_data, 'html.parser')

In [ ]:
## soup에서 table 태그들 중 class 값이 tbl_home 태그를 선택
len(soup.find_all('table', attrs={
    'class' : 'tbl_home'
}))

In [ ]:
div_data = soup.find('div', attrs={
    'class' : 'section_sise_top'
})

In [ ]:
div_data

In [ ]:
tables = div_data.find_all('table', attrs={
    'class' : 'tbl_home'
})

In [ ]:
tr_list = trade_top.find_all('tr')

In [ ]:
trade_top = tables[0]

In [ ]:
th_list = tables[0].find('tr').find_all('th')

_cols = []

for i in th_list :
    _cols.append(i.get_text())
_cols

In [ ]:
trade_top = tables[0]

In [ ]:
tr_list[1].get_text().split()

In [ ]:
_val = [tr_list[1].find('th').get_text()]

td_list = tr_list[1].find_all("td")
for i in td_list :
    data = i.get_text().strip()
    _val.append(data)
    
_val

In [ ]:
_values = []
for i in range(1, len(tr_list)) :
    _val = [tr_list[i].find('th').get_text()]
    
    td_list = tr_list[i].find_all('td')
    
    for j in td_list :
        data = j.get_text().strip()
        _val.append(data)
        
    _values.append(_val)
    
_values

In [ ]:
df = pd.DataFrame(_values)
df.columns = _cols
df

In [ ]:
# 현재의 시간을 가지고 오자
from datetime import datetime

In [ ]:
now = datetime.now()

In [ ]:
date = now.strftime("%y-%m-%d %H-%M-%S")

In [ ]:
for index in range(len(tables)) :
    th_list = tables[index].find('tr').find_all('th')
    now = datetime.now()
    date = now.strftime("%y-%m-%d %H-%M-%S")
    th_list = tables[index].find('tr').find_all('th')
    _cols = []
    for i in th_list:
        _cols.append(i.get_text())
    #print(_cols)
    tr_list = tables[index].find_all('tr')
    _values = []
    for i in range(1, len(tr_list)) :
        _val = [tr_list[i].find('th').get_text()]

        td_list = tr_list[i].find_all('td')

        for j in td_list :
            data = j.get_text().strip()
            _val.append(data)

        _values.append(_val)

    #print(_values)
    # 반복 실행 할 때마다 다른 변수에 데이터를 저장
    file_list = ['거래상위', '상승', '하락', '시가총액']
    globals()[f"df_{index}"] = pd.DataFrame(_values, columns = _cols)
    pd.DataFrame(_values, columns = _cols).to_csv(f"{file_list[index]}_{date}.csv")

In [ ]:
globals()['__name__']

In [ ]:
df_0

In [ ]:
df_3.sort_values("등락률", ascending=False)

In [ ]:
df1 = df_3.copy()

In [ ]:
# df1의 등락률데이터를 숫자로 변경
# % 문자열 삭제

df1['등락률'][0].replace("%",'')
df1['등락률'] = df1['등락률'].str.strip("%").astype("float")

In [278]:
df1.sort_values('등락률', ascending=False)

         종목명      현재가       전일대비   등락률
1     SK하이닉스  155,400   상승 6,400  4.30
6         기아  119,800   상승 3,000  2.57
11      삼성물산  165,400   상승 4,100  2.54
5        현대차  244,000   상승 4,500  1.88
2   LG에너지솔루션  408,500   상승 1,500  0.37
13      KB금융   65,300     상승 200  0.31
0       삼성전자   73,000         보합  0.00
4      삼성전자우   63,000     하락 100 -0.16
8   POSCO홀딩스  436,000   하락 2,000 -0.46
3   삼성바이오로직스  819,000   하락 4,000 -0.49
7       셀트리온  176,100     하락 900 -0.51
14       카카오   57,700     하락 300 -0.52
10     NAVER  200,500   하락 2,000 -0.99
12     삼성SDI  396,000   하락 4,000 -1.00
9       LG화학  482,000  하락 18,000 -3.60

In [ ]:
df2 = df_3.copy()

In [288]:
# 등락률의 -, +를 파생변수 등락을 생성하여 [상승, 하락, 보합]
df2['등락'] = df2['등락률'].map(
    lambda x : '상승' if x[0] == "+" else ('하락' if x[0] == '-' else '보합')
)

In [301]:
df2['등락률'] = df2['등락률'].map(
    lambda x : x.strip("-" "+" "%")
)

In [304]:
df2.sort_values(['등락률', '등락'])

         종목명      현재가       전일대비   등락률  등락
0       삼성전자   73,000         보합  0.00  보합
4      삼성전자우   63,000     하락 100  0.16  하락
13      KB금융   65,300     상승 200  0.31  상승
2   LG에너지솔루션  408,500   상승 1,500  0.37  상승
8   POSCO홀딩스  436,000   하락 2,000  0.46  하락
3   삼성바이오로직스  819,000   하락 4,000  0.49  하락
7       셀트리온  176,100     하락 900  0.51  하락
14       카카오   57,700     하락 300  0.52  하락
10     NAVER  200,500   하락 2,000  0.99  하락
12     삼성SDI  396,000   하락 4,000  1.00  하락
5        현대차  244,000   상승 4,500  1.88  상승
11      삼성물산  165,400   상승 4,100  2.54  상승
6         기아  119,800   상승 3,000  2.57  상승
9       LG화학  482,000  하락 18,000  3.60  하락
1     SK하이닉스  155,400   상승 6,400  4.30  상승