## 자료형 데이터
1. tuple
    - 자료형 데이터에서 가장 기본적인 데이터의 형태
    - ()로 묵어서 데이터의 형태를 생성
    - 각 원소들을 수정, 추가, 삭제가 불가능
2. list
    - tuple과 달리 각 원소들을 수정, 추가, 삭제가 가능한 데이터의 형태
    - []로 묶어서 데이터의 형태를 생성
    - 원소의 개수가 0개인 리스트부터 생성 가능
3. dict
    - 사전형 데이터의 구조
    - R에서는 리스트의 형태와 흡사
    - {}로 묶어서 데이터의 형태를 생성
    - key : value의 형태로 데이터가 구성

In [2]:
## tuple 데이터
a = (1, 'Hello')
b = (3,3.14)
print(a)
print(type(a))
print(b)
print(type(b))

(1, 'Hello')
<class 'tuple'>
(3, 3.14)
<class 'tuple'>

In [3]:
# tuple의 합
c = a + b
print(c)

(1, 'Hello', 3, 3.14)

In [4]:
# 특정 위치의 데이터를 추출
print(a[0])
print(b[1])

1
3.14

In [5]:
## list 데이터
a = [10, 20, 40, 30]
b = [20, 10, 30, 40]

In [6]:
print(type(a))

<class 'list'>

In [7]:
## 리스트의 순서를 변경하는 함수
## 오름차순 정렬
a.sort()

In [8]:
print(a)

[10, 20, 30, 40]

In [9]:
## 역순으로 순서를 변경
b.reverse()

In [10]:
c = [4, 7, 2, 3, 9, 1]

In [11]:
# sort로 역순까지
c.sort(reverse= True)

print(c)

[9, 7, 4, 3, 2, 1]

In [12]:
# 함수 두 개로 역순 변경
c.sort()
c.reverse()

print(c)

[9, 7, 4, 3, 2, 1]

In [13]:
## 리스트의 마지막 원소를 제거
## pop()
print(a)
a.pop()
print(a)

[10, 20, 30, 40]
[10, 20, 30]

In [14]:
## 리스트의 가장 마지막에 데이터를 추가
## append({값})
b.append(22)
print(b)

[40, 30, 10, 20, 22]

In [15]:
## 반복문을 이용하여 리스트의 중복 데이터 제거
## case 1

_list = [10, 20, 30, 20, 10, 50, 70]
result = []

for i in _list :
    if result.count(i) == 0 :
        result.append(i)
print(result)

[10, 20, 30, 50, 70]

In [16]:
# dic 데이터
_dict = {
    'name' : 'test',
    'age' : 20,
    'phone' : '01012345678'
}

In [17]:
print(_dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [18]:
# 새로운 키 : 밸류 추가
_dict['loc'] = 'seoul'

In [19]:
_dict

{'name': 'test', 'age': 20, 'phone': '01012345678', 'loc': 'seoul'}

In [20]:
# 기존 키값의 벨류를 수정하려면
_dict['name'] = 'Kim'
print(_dict)

{'name': 'Kim', 'age': 20, 'phone': '01012345678', 'loc': 'seoul'}

In [21]:
_list[1] = 50
print(_list)

[10, 50, 30, 20, 10, 50, 70]

In [22]:
_list[7] = 120
print(_list)

IndexError: list assignment index out of range

In [23]:
for i in _dict :
    # i가 의미하는 것은 key값
    print(i)

name
age
phone
loc

In [ ]:
for i in _dict :
    print(_dict[i])

Kim
20
01012345678
seoul

In [ ]:
_dict.keys()

dict_keys(['name', 'age', 'phone', 'loc'])

In [ ]:
_dict.values()

dict_values(['Kim', 20, '01012345678', 'seoul'])

In [ ]:
for i in _dict.values() :
    print(i)

Kim
20
01012345678
seoul

In [25]:
# openapi, DB 에서 데이터를 가지고오는 경우 데이터의 형태
# 2차원 데이터에서 test를 가지고 오는 방법

test_data = [
    {
        'name' : 'test',
        'age' : 20
    },
    {
        'name' : 'test2',
        'age' : 30
    },
    {
        'name' : 'test3',
        'age' : 40
    }
]

In [ ]:
# test_data 에서 'test'라는 문자열을 출력하려면
print(test_data)
#'test'문자열은 리스트에서 첫번째 원소에 존재
print(test_data[0])
# 'name' 키값에 데이터를 출력
print(test_data[0]['name'])

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
{'name': 'test', 'age': 20}
test

In [ ]:
## test_data에서 'name'의 values들만 추출하여 새로운 리스트로 출력
result = []
for i in range(0,len(test_data)) :
    print(test_data[i]['name'])
    result.append(test_data[i]['name'])
print(result)

test
test2
test3
['test', 'test2', 'test3']

In [ ]:
result = []

for i in test_data :
    #print(i['name'])
    result.append(i['name'])
print(result)

['test', 'test2', 'test3']

In [ ]:
result = []
i = 0
while len(result) < len(test_data) :
    result.append(test_data[i]['name'])
    i += 1
print(result)

['test', 'test2', 'test3']

In [26]:
## try .. except 구문
## try :
##  시도할 코드 작성
## except :
##  애러가 발생 시 실행할 코드
result = []
i = 0

while True :
    try :
        result.append(test_data[i]['name'])
    except :
        break
    i += 1

print(result)

['test', 'test2', 'test3']

### python에서 제공하는 문자열 내장함수

In [27]:
# 문자열 길이를 출력
a = 'hello'
b = ' hello '

print(len(a))
print(len(b))

5
7

In [28]:
## 문자의 형태를 변환 (대, 소문자 변환)
a = 'Hello world'

# 문자를 모두 대문자로 변환
print(a.upper())
# 문자를 모두 소문자로 변환
print(a.lower())
# 문자의 대문자를 소문자로, 소문자를 대문자로 변환
print(a.swapcase())
# 단어의 첫글자를 대문자로 변환
print(a.title())

print(a)

HELLO WORLD
hello world
hELLO WORLD
Hello World
Hello world

In [29]:
_list = [4, 3, 2, 7]

print(_list.sort())

None

In [30]:
## 문자열의 좌우의 공백을 제거하는 함수
test_text = '      Hello world       '
print(test_text)

      Hello world

In [31]:
## 양쪽의 공백을 모두 제거 : strip()
test_text.strip()

'Hello world'

In [32]:
## 좌측의 공백을 제거 : lstrip()
test_text.lstrip()

'Hello world       '

In [33]:
## 우측의 공백을 제거 : rstrip()
test_text.rstrip()

'      Hello world'

In [43]:
test = '$100'
print(type(test))

<class 'str'>

In [38]:
int(test)

ValueError: invalid literal for int() with base 10: '$100'

In [44]:
print(test)
test = test.lstrip("$")
print(test)
print(type(test))
test = int(test)
print(test)
print(type(test))

$100
100
<class 'str'>
100
<class 'int'>

In [47]:
a = "Hello world"
b = "   Hello WORLD   "

In [48]:
a = a.replace(" ","")
a = a.upper()

b = b.replace(" ", "")
b = b.upper()

a == b

True

In [49]:
print(a,b)

HELLOWORLD HELLOWORLD

In [50]:
a = '상 품 A'
b = '상품a'

In [52]:
a = a.replace(" ", "")
b = b.upper()

In [53]:
a == b

True

In [54]:
# 특정 문자열을 기준으로 문자열을 나눠주는 함수
# split() -> 인자 값을 기본으로 공백
a = 'a b c d'
print(a)
print(a.split())

a b c d
['a', 'b', 'c', 'd']

In [55]:
b = '1/2/3/4/5/6'
print(b.split('/'))

['1', '2', '3', '4', '5', '6']

In [56]:
sql_data = """select 
* 
from 
user"""

In [57]:
sql_data

'select \n* \nfrom \nuser'

In [59]:
sql_data.split()

['select', '*', 'from', 'user']

In [61]:
sql_data.strip().split()[0] == 'select'

True

In [64]:
sql_data3 = """
    SELECT
    *
    FROM
    user
"""

In [66]:
sql_data3.lower().strip().split()[0] == 'select'

True

In [67]:
sql_data3.lower().strip().startswith('select')

True